<!DOCTYPE html>
<html lang="es">
<head>
	<title>Autenticación</title>
	<% include partials/head %>
</head>
<body>
	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1>Autenticación</h1>
				<a href="/login" class="btn btn-primary">Inicio</a>
				<a href="/signup" class="btn btn-primary">Registro</a>
			</div>
		</div>
	</div>
</body>
</html>
