<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Iniciar Sesión</title>
    <% include partials/head %>
  </head>
  <body class="login">
    <div class="container">
      <div class="col-sm-6 mx-auto">
        <div class="card mt-5">
          <div class="card-body">
            <h1 class="text-center">
              Iniciar Sesión
            </h1>
            <% if (message.length > 0) { %>
              <div class="alert alert-danger">
                <%= message %>
              </div>
            <% } %>

            <form action="/login" method="post">
              <div class="form-group">
                <label for="email">Correo</label>
                <input type="email" name="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" name="password" class="form-control">
              </div>
              <input type="submit" class="btn btn-primary btn-block">
            </form>

            <hr>
            <div class="text-center">
              <p>¿No tiene una cuenta? <a href="/signup">Registro</a></p>
              <p>O ir <a href="/">Inicio</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
