<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bienvenida</title>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <div class="card text-center mt-5">
        <div class="card-body">
          <h1>Bienvenido <%= user.local.email %></h1>
          <a href="/logout" class="btn btn-primary">
            Cerrar Sesión
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
